{{ if eq .chezmoi.os "darwin" -}}
#!{{ lookPath "bash" }}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
#!{{ lookPath "bash" }}

export DEBIAN_FRONTEND=noninteractive
sudo apt-get update

sudo apt-get install -y {{ range .packages.linux.apt }}{{ . }} {{ end }}

# Although you can install multiple snaps on one line, this errors if already installed
{{- range .packages.linux.snap_classic }}
sudo snap install {{ . }} --classic
{{- end }}

# Install lazygit
LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
tar xf lazygit.tar.gz lazygit
sudo install lazygit /usr/local/bin

{{ end -}}

vim +PlugInstall +qall
curl https://pyenv.run | bash
curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh
